@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #081F2C;
    --background: #081F2C;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #081F2C;
        --background: #081F2C;
    }
}

body {
    color: var(--text-color);
    background: var(--background)
}